<% unless has_search_parameters? %>

  <% cache("home_showcase_#{params[:collection]}_#{current_ability.user}", expires_in: 30.minutes) do %>

    <div class="container-fluid showcase-wrapper">
      <div class="row no-gutter">
        <div class="col-md-4 collection-start showcase-side">
          <h1 id="collection-title"<% if @portal.title.length >= 45 %> class="long-title"<% end %>>
          <%= t("ddr.public.portal.#{params[:collection] || controller_name}.title", :default => @portal.title) %>
          </h1>
          <p class="collection-abstract"><%= @portal.abstract %> <%= link_to raw("More&nbsp;&raquo;"), {anchor: "about-collection"}, class: "more-link", title: "Learn more about the collection" %></p>

              <%= link_to(params.merge("f[active_fedora_model_ssi][]" => "Item"), :class => "btn btn-primary browse-all", :id => "browse-all-items-btn") do %>
                Browse all <strong><%= number_with_delimiter(@portal.item_count) %></strong> Items
              <% end %>
          <%= render partial: "home_showcase_link_list", locals: { document: @portal.collection } %>
        </div>

        <% showcase_images = Array(@portal.showcase_custom_images).concat Array(@portal.showcase.documents) %>

        <% showcase_images.sample(showcase_samples({showcase_layout: @portal.showcase.layout})).each_with_index do |image, index| %>
          <%= render partial: "home_showcase_image", locals: home_showcase_locals({index: index, image: image, showcase_layout: @portal.showcase.layout}) %>
        <%- end %>

      </div>
    </div>

  <% end %>

<%- end %>
