<% unless has_search_parameters? %>
  <div class="container-fluid showcase-wrapper">
    <div class="row no-gutter">
      <div class="col-md-4 collection-start">
        <h1 id="collection-title"><%= t("ddr.public.portal.#{params[:collection] || controller_name}.title", :default => @collection_document.title) %></h1>
        <p class="collection-abstract"><%= @collection_document.abstract %> <%= link_to raw("More &raquo;"), {anchor: "about"}, class: "more-link", title: "Learn more about the collection" %></p>

            <%= link_to(params.merge("f[active_fedora_model_ssi][]" => "Item"), :class => "btn btn-primary browse-all") do %>
              Browse all <strong><%= number_with_delimiter(item_count(@collection_document.id)) %></strong> Items
            <% end %>
      </div>

      <% showcase_images = Array(@showcase_custom_images).concat Array(@showcase_documents) %>

      <% showcase_images.sample(showcase_samples({showcase_layout: @showcase_layout})).each_with_index do |image, index| %>
        <%= render partial: "home_showcase_image", locals: home_showcase_locals({index: index, image: image, showcase_layout: @showcase_layout}) %>          
      <%- end %>

    </div>
  </div>


<%- end %>
