<%= render partial: "home_featured_collections"%>
<%= render partial: "home_highlights" %>
<%= render partial: "show_children_collection" %>

<% if @collection_document && @collection_document.description %>
  <% if lookup_context.exists?('about', 'digital_collections') %>
    <h3 id="about" class="feature-head"><%= link_to raw("About the Digital Collection &raquo;"), digital_collections_about_path %></h3>
  <% else %>
    <h3 id="about" class="feature-head">About the Digital Collection</h3>
  <% end %>
  <%= simple_format(@collection_document.description) %>

  <% if lookup_context.exists?('about', 'digital_collections') %>
     <p> <%= link_to raw("Read More &raquo;"), digital_collections_about_path %></p>
  <% end %>
  <hr/>
<% end %>

<%# Only show the first few items from the collection if there are no highlights defined. %>
<% if @highlight_documents.empty? and @show_items != 0 %>
  <%= render partial: "show_children_collection", locals: { show_items: @show_items } %>
<% end %>

<% if @collection_document %>
  <%= render partial: 'show_finding_aid_full', locals: { document: @collection_document } %>
  <%= render partial: 'show_blog_posts', locals: { document: @collection_document } %>
<% end %>


