<div class="<%= sizeclass %> collection-showcase" id="collection-showcase-<%= index %>" style="background-image: url(<%= iiif_image_path(doc.multires_image_file_paths.first, {:size => size, :region => region }) %>);">

  <%= link_to_document doc, "", :class => "showcase-item-wrap", :id => "showcase-item-link-"+index.to_s, data: { toggle: "fade-element", target_id: "showcase-item-caption-"+index.to_s } %>                 

  <div class="showcase-item-caption" id="showcase-item-caption-<%= index %>">
    <div class="item-caption-inner"><small><%= doc.title.truncate(captionlength, separator: ' ') %> <small class="text-muted"><%= doc.local_id %></small></small></div>
  </div>

</div>