<% unless has_search_parameters? %>

  <% cache("home_showcase_#{params[:collection]}_#{current_ability.user}", expires_in: 30.minutes) do %>

    <div class="container-fluid showcase-wrapper">
      <div class="row no-gutter">
        <div class="col-md-4 collection-start showcase-side">
          <h1 id="collection-title"<% if @portal.title.length >= 45 %> class="long-title"<% end %>>
          <%= t("ddr.public.portal.#{params[:collection] || controller_name}.title", :default => @portal.title) %>
          </h1>
          <p class="collection-abstract">
            <%= @portal.abstract %><%= showcase_abstract_more %>
          </p>
          <%= link_to(params.merge("f[active_fedora_model_ssi][]" => "Item"), :class => "btn btn-primary browse-all", :id => "browse-all-items-btn") do %>
            Browse all <strong><%= number_with_delimiter(@portal.item_count) %></strong> Items
          <% end %>

          <%= render partial: "home_showcase_link_list", locals: { document: @portal.collection } %>
        </div>

        <% @portal.showcase_images_all.sample(showcase_samples({showcase_layout: @portal.showcase.layout})).each_with_index do |image, index| %>
          <%= render partial: "home_showcase_image", locals: home_showcase_locals({index: index, image: image, showcase_layout: @portal.showcase.layout}) %>
        <%- end %>

      </div>
    </div>

  <% end %>

  <%= content_for :twitter_og_meta do %>
    <meta property="og:image" content="<%= og_absolute_url(showcase_image_path(params: params, controller_name: controller_name, locals: home_showcase_locals({ image: @portal.showcase_images_all.first }))) %>" />
    <meta property="og:image:alt" content='<%= t("ddr.public.portal.#{params[:collection] || controller_name}.title", :default => @portal.title) %>' />
    <meta name="twitter:image:alt" content='<%= t("ddr.public.portal.#{params[:collection] || controller_name}.title", :default => @portal.title) %>' />
  <% end %>

<%- end %>
