<%= render partial: "home_featured_collections"%>
<%= render partial: "home_highlights" %>

<% if @portal.collection && @portal.description %>
  <% if lookup_context.exists?('about', 'digital_collections') %>
    <h3 id="about" class="feature-head"><%= link_to raw("About the Digital Collection &raquo;"), digital_collections_about_path %></h3>
  <% else %>
    <h3 id="about" class="feature-head">About the Digital Collection</h3>
  <% end %>
  <%= simple_format(@portal.description) %>

  <% if lookup_context.exists?('about', 'digital_collections') %>
     <p> <%= link_to raw("Read More &raquo;"), digital_collections_about_path %></p>
  <% end %>
  <hr/>
<% end %>

<%# Only show the first few items from the collection if there are no highlights defined. %>
<% if @portal.item_highlights.documents.blank? and @portal.show_items != 0 %>
  <%= render partial: "show_children_collection", locals: { show_items: @portal.show_items } %>
<% end %>

<% if @portal.collection %>
  <%= render partial: 'show_finding_aid_full', locals: { document: @portal.collection } %>
  <%= render partial: 'show_blog_posts', locals: { document: @portal.collection } %>
<% end %>


