<%= render partial: "home_highlights" %>

<h3 id="about">About the Digital Collection</h3>
<% if @collection_document && @collection_document.description %>
  <p><%= @collection_document.description %></p>
<% else %>
  <p><%= t("ddr.public.portal.#{params[:collection] || controller_name}.about", :default => "Duke Digital Repository (DDR) provides access to Duke scholarship, research, datasets and Duke University Libraries collections.  Duke Digital Repository is a service of Duke University Libraries.") %></p>  
<% end %>


<% if @collection_document %>
  <%= render partial: 'show_finding_aid_full', locals: { document: @collection_document } %>
  <%= render partial: 'show_blog_posts', locals: { document: @collection_document } %>  
<% end %>
