<% if ENV['DDR_PUBLIC_PREVIEW'] %>
  <%= render :partial=>'shared/preview_alert' %>
<% end %>

<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="row" style="position: relative;">

      <div id="mobile-menu">
        <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-utilities">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="col-md-4 col-sm-5 col-xs-12" id="logo-col">
        <%= link_to image_tag('ddr/dul-logo.png', :class=>"navbar-logo"), "http://library.duke.edu", :class=>"navbar-dul" %>
        <%= link_to image_tag(ENV['DDR_LOGO'] || "ddr/ddr-logo.png", :class=>"navbar-logo"), root_path, :class=>"navbar-ddr" %>        
      </div>
      
      <div class="col-md-5 col-sm-6 col-xs-12" id="search-col">
        <%= render_search_bar  %>
      </div>

      <div class="clearfix visible-sm-block"></div>
      
      <div class="col-md-3 col-sm-12 col-xs-12" id="user-col">
        <div class="collapse navbar-collapse" id="user-utilities">
          <%= render :partial=>'/user_util_links' %>
        </div>
      </div>            
    </div>
  </div>
  
</div>