<% if derivatives.present? %>

  <%# NOTE: This partial is used for Items and Components alike.
    Items can be audio or video, and can include single or multiple
    Component parts w/AV media. TODO: This is ripe for refactoring
    and moving some of this logic into a helper. %>

  <div id="jwplayer-element">Loading the media player...</div>

  <% @derivcount = derivatives.count %>


  <%# Instantiate JW Player with a playlist. Single-component A/V is %>
  <%# also treated as a playlist with one item. %>

  <%= javascript_tag do %>
    var playerInstance = jwplayer("jwplayer-element");
    playerInstance.setup({
          width: "<%= width %>",
        <% if local_assigns[:height].present? %>
          height: "<%= height %>",
        <% end %>
        <% if local_assigns[:aspectratio].present? %>
          aspectratio: "<%= aspectratio %>",
        <% end %>
          nextUpDisplay: false,

        skin: {
          name: "seven",
          active: "#a1b70d",
          inactive: "white",
          background: "#333"
        },
        playlist: [
          <% derivatives.each_with_index do |url,index| %>
            {
                file: "<%= url %>",
              <% if local_assigns[:media_type].present? %>
                type: "<%= media_type %>",
              <% end %>
              <% if @document.captions_urls.present? %>
                tracks: [
                  {
                    file: "<%= @document.captions_urls[index] %>",
                    kind: "captions"
                  }
                ],
              <% end %>
                title: "<% if @derivcount > 1 %>Part <%= index + 1 %> of <%= @derivcount %><% end %>"
            }<% unless url == derivatives.last %>,<% end %>
          <% end %>
        ]
    });

    <%# Trigger events that GA Event Tracking listeners can detect %>
    <%# https://developer.jwplayer.com/jw-player/docs/developer-guide/api/javascript_api_reference/ %>
    playerInstance.on('play', function(){
      if(playerInstance.getPosition() == 0) { <%# only track if play from beginning of file %>
        $('#jwplayer-element').trigger('play');
      }
    });
    playerInstance.on('complete', function(){
      $('#jwplayer-element').trigger('complete');
    });
    playerInstance.on('seeked', function(){
      $('#jwplayer-element').trigger('seeked');
    });
    playerInstance.on('fullscreen', function(){
      $('#jwplayer-element').trigger('fullscreen');
    });
    playerInstance.on('playlistItem', function(){
      if(playerInstance.getPlaylistIndex() > 0) {
        $ ('#jwplayer-element').trigger('playlist-item-change');
      }
    });
    playerInstance.on('playlistComplete', function(){
      if(playerInstance.getPlaylist().length > 1) {
        $('#jwplayer-element').trigger('playlist-complete');
      }
    });

    <%# If there are multiple A/V derivatives, use JS API to navigate
    <%# playlist with external controls. %>
    <%# See https://developer.jwplayer.com/jw-player/docs/developer-guide/api/javascript_api_reference/#playlist %>

    <% if @derivcount > 1 %>
      playerInstance.on('ready', function(){
        $('ul.av-playlist-pagination li a').click(function(e){
          e.preventDefault();
          if(!$(this).hasClass("disabled")) {
            playerInstance.playlistItem($(this).data('index'));
          }
        });
      });

      playerInstance.on('playlistItem', function(){
        $('ul.av-playlist-pagination a').each(function(){
          $(this).removeClass('now-playing');
          if($(this).attr('data-index') == playerInstance.getPlaylistIndex()) {
            $(this).addClass('now-playing');
          }
        });
        
        $('.av-embed-playlist-now-playing').text( playerInstance.getPlaylistIndex() + 1);

      });
    <% end %>
  <% end %>

  <% if @derivcount > 1 %>
    <nav id="av-playlist-nav">
      <ul class="pagination pagination-sm av-playlist-pagination">
        <li class="disabled"><a href="#" class="disabled">Part: </a></li>
        <% derivatives.each_with_index do |url,index| %>
          <li><a href="<%= url %>" data-index="<%= index %>"><%= index + 1 %></a></li>
        <% end %>
      </ul>
    </nav>
  <% end %>

  <noscript>
    <h3>Files for this Item</h3>
    <ul>
      <% derivatives.each do |url| %>
        <% unless url.blank? %>
          <li><%= link_to url, url %></li>
        <% end %>
      <% end %>
    </ul>
  </noscript>

<% end %>
