<% cache("interactive_transcript_#{@document.id}", expires_in: 1.day) do %>

  <h3 class="feature-head">Transcript</h3>
  <div class="text-muted small text-right">Transcripts may contain inaccuracies.</div>

  <ul class="nav nav-tabs hidden" id="interactive-transcript-tabs" aria-hidden="true">
    <% @document.captions_urls.each_with_index do |captions_url, index| %>
      <li role="presentation"><a href="#tr-<%= index %>"><%= index+1 %></a></li>
    <% end %>
  </ul>

  <div id="interactive-transcript" class="collapsed">
    <div class="tab-content">
      <% @document.captions_urls.each_with_index do |captions_url, tr_index| %>
        <% begin %>
          <%= render partial: 'display_interactive_transcript_pane', locals: { captions_url: captions_url, tr_index: tr_index } %>
        <% rescue => e %>
          <% Rails.logger.error { "#{e.message} #{e.backtrace.join("\n")}" } %>
          <div class="alert alert-info tab-pane tr-pane<% if tr_index == 0 %> active<% end %>" id="tr-<%= tr_index %>">There was a problem loading the transcript file.</div>
          <% next %>
        <% end %>

      <% end %>
    </div>
  </div>

  <div id="interactive-transcript-expand" class="text-center">
    <a class="btn btn-default btn-sm collapsed" href="#" role="button" id="transcript-expand" data-state="collapsed"></a>
  </div>

<% end %>

<%= javascript_tag do %>
  $(function () {

    <%# Expand & collapse interactive transcript %>
    $("#transcript-expand").click(function(e) {
      e.preventDefault();
      if ($(this).hasClass('collapsed')) {

        $('#interactive-transcript').animate({
            height: $('#interactive-transcript').get(0).scrollHeight
        }, 1500, function(){
            $(this).height('auto');
        });
        $(this).data('state','expanded');
      } else {
        $('#interactive-transcript').animate({ height: 300 }, 1500 );
        $(this).data('state','collapsed');
      }
      $(this).toggleClass("collapsed");
    });

    <%# Change the transcript showing when the playlist's current track changes %>
    jwplayer().on('playlistItem', function(e){
      current_track = jwplayer().getPlaylistIndex();
      current_transcript_id = "#tr-"+current_track;
      $('#interactive-transcript-tabs.nav-tabs a[href="' + current_transcript_id + '"]').tab('show');
    });


    <%# Jump the player to the point in the transcript clicked %>
    <%# Make the entire cue row clickable %>
    $('.tr-cue').click(function(e) {
      e.preventDefault();
      seconds = $(this).data('jump-sec');
      cue_track = $(this).closest('.tr-pane').data('track');

      if (jwplayer().getState() !== 'playing') {
        jwplayer().stop;
        jwplayer().playlistItem(cue_track);
      }

      jwplayer().seek(seconds);

    });

    <%# Highlight the currently-playing cue while media plays %>
    jwplayer().on('time', function(e) {
      current_track = jwplayer().getPlaylistIndex();
      seconds = Math.floor(e.position);
      if($("#tr-"+current_track+"-cue-"+seconds).length !== 0) {
        $('.tr-cue').removeClass('current-cue');
        $('.tr-pane[data-track="'+current_track+'"] [data-jump-sec="'+seconds+'"]').addClass('current-cue');
      }
    });


  });

<% end %>
