<% cache("display_image_#{params[:collection]}_#{params[:id]}", expires_in: 1.day) do %>

  <% if @document.multires_image_file_paths.present? %>
    <noscript>
      <%= render partial: "show_image_derivative", locals: { image_path: document.first_multires_image_file_path } %>
    </noscript>

    <%# --------------------------- %>
    <%#   Multi-Page Image Items    %>
    <%# --------------------------- %>

    <% if has_two_or_more_multires_images?(@document) %>

      <%# For search engine indexing & graceful degradation, %>
      <%# render links to all the images %>

      <noscript>
        <h3>Images for this Item</h3>
        <ul>
          <% document.multires_image_file_paths.each do |path| %>
            <% unless path.blank? %>
              <li><%= link_to File.basename(path, File.extname(path)), iiif_image_path(path, {:size => '!850,850'}) %></li>
            <% end %>
          <% end %>
        </ul>
      </noscript>

      <%# Make the array of page image paths accessible to JS for use by the download buttons %>
      <%= javascript_tag do %>
        var pagepaths = <%= raw document.multires_image_file_paths.to_json %>;
      <% end %>
    <% end %>

    <%# ------------------------------------ %>
    <%#   Multi-Res (Has One or More PTIFs)  %>
    <%# ------------------------------------ %>

    <% if tilesources = image_item_tilesources(document.multires_image_file_paths) %>

      <%= render partial: "item_options", locals: { image_path: document.first_multires_image_file_path, imagecount: tilesources.length } %>
      <%= render partial: "show_seadragon", locals: { aspectratio: image_item_aspectratio(document.multires_image_file_paths), imagecount: tilesources.length } %>

    <% end %>

  <% end %>

<% end %>

<%= render partial: "show_default", locals: {document: document} %>

<% content_for :twitter_og_meta do %>
  <% cache("image_twitter_og_tags_#{params[:collection]}_#{params[:id]}", expires_in: 1.day) do %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="<%= iiif_image_path(document.first_multires_image_file_path, {:size => '!850,850'}) %>" />
    <meta property="og:image:alt" content="<%= @document.title %>" />
    <meta name="twitter:image:alt" content="<%= @document.title %>" />
  <% end %>
<% end %>

<%= render partial: "javascript_tools_images" %>
