<li>
  <%= link_to(download_path(document)) do %>
      <%= image_tag(default_mime_type_thumbnail(document.content_type), size: "20", alt: document.content_type) %>
      <%= default_mime_type_label(document.content_type) %>
      <span class="small text-muted">
        <% if @doc_count > 1 %><%= document.title %><% end %>
        (<%= document.content_size_human %>)
      </span>
  <% end %>
</li>