<% if has_two_or_more_multires_images?(@document) %>
  <li class="dropdown-header">All Images <span class="text-muted">(<%= imagecount %>)</span></li>

  <li><%= multi_image_download_button(@document, { label: "PDF", action: "pdf_images" }) %></li>
  <li><%= multi_image_download_button(@document, { label: "ZIP file of JPGs", action: "zip_images" }) %></li>

  <li class="dropdown-header">Currently Displayed Image</li>

<% end %>

    <li><%= image_download_link(@document, { pixels: 400, id: "download-small", linklabel: "Small JPG", path: image_path })%></li>

  <% unless @document.restrictions.max_download && @document.restrictions.max_download.to_i <= 800 %>
    <li><%= image_download_link(@document, { pixels: 800, id: "download-med", linklabel: "Medium JPG", path: image_path })%></li>
  <% end %>


  <% unless @document.restrictions.max_download && @document.restrictions.max_download.to_i <= 1200 %>
    <li><%= image_download_link(@document, { pixels: 1200, id: "download-lrg", linklabel: "Large JPG", path: image_path })%></li>
  <% end %>

  <% if @document.restrictions.max_download %>
    <li><%= image_download_link(@document, { pixels: @document.restrictions.max_download, id: "download-full", linklabel: "Largest JPG", path: image_path })%></li>
  <% else %>
    <li><%= image_download_link(@document, { id: "download-full", linklabel: "Full-Res JPG", path: image_path })%></li>
  <% end %>

  <li class="divider" role="separator"></li>
  <li role="presentation" class="disabled"><a href="#">Please be patient with high-res and bulk downloads.</a></li>
