<%= link_to collection_browse_items_url(@document), :class => "" do %>
  <h3 class="feature-head">Items in This Collection <span class="text-muted">(<%= number_with_delimiter(@item_count) %>)</span></h3>
<% end %>

<%# Show the first 6 items in a grid. Can specify a different number in a
portal config for digital collections using setting "show_items". Use 0 to 
not show this section at all.  %>
<% show_items = 6 if local_assigns[:show_items].nil? %>
<%= render_document_index_with_view("gallery", @children_documents[0..(show_items - 1)]) %>

<% if @children_documents.length > show_items %>
  <p>
    <%= link_to collection_browse_items_url(@document), :class => "" do %>
      Browse all <%= number_with_delimiter(@item_count) %> Items &raquo;
    <% end %>
  </p>  
<% end %>


