<% if render_bookmarks_control? %>
	<%= render :partial => 'show_tools' %>
<% end %>

<% if @document.research_help %>
	<% render partial: "show_research_help", locals: { document: @document } %>
<% end %>

<% if @document.active_fedora_model == 'Item' %>
<div class="text-muted text-uppercase small strong">Collection</div>
  <h4><%= descendant_of({:value => @document[Ddr::IndexFields::IS_MEMBER_OF_COLLECTION]}) %></h4>
  <p><%= truncate((abstract_from_uri @document[Ddr::IndexFields::IS_MEMBER_OF_COLLECTION]), :length => 180, :separator => ' ') %></p>
<hr/>
  <div class="license">
    <%= render partial: 'show_license_default', locals: { document: @document } %>
  </div>
<% end %>

<% unless @document.more_like_this.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">More Like This</div>
    <div class="panel-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </div>
  </div>
<% end %>