<hr/>
<div id="collection-info">
    <dl class="dl-horizontal dl-invert">
      <% document_show_fields(document).each do |field_name, field| -%>
        <% if should_render_show_field? document, field %>
          <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
          <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
        <% end -%>
      <% end -%>
    </dl>
</div>

<% content_for :page_title, document.html_title -%>

<% content_for :twitter_og_meta do %>
  <meta property="og:description" content="<%= document.abstract || document.description %>"/>
<% end %>
