<%= render partial: 'show_research_help', locals: { document: @document.collection  }  %>
<%= render partial: 'document_context' %>
<%= render partial: 'show_finding_aid', locals: { document: @document } %>
<%= render partial: 'catalog_link', locals: { document: @document } %>

<% unless @document.more_like_this.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">More Like This</div>
    <div class="panel-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </div>
  </div>
<% end %>

<% if render_bookmarks_control? %>
  <%= render :partial => 'show_tools' %>
<% end %>