<% if is_item?(@document) %>
<div id="item-options">

	<ul class="nav nav-pills item-options">
	  <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
	      <span class="glyphicon glyphicon-save"></span> Download <span class="caret"></span>
	    </a>
	
	    <ul class="dropdown-menu">
		<% if is_multi_image?(@document, @document_list) %>				
		  <li class="dropdown-header">All Images <span class="text-muted">(<%= imagecount %>)</span></li>


			<!-- This works but it's hacky: push the array of paths into a delimited concatenated string, split later.
			Had to use button_to to make a form to pass array of JPGs as a POST request (too long for 
			URL string in GET). 
			 -->
			<li><%= button_to "ZIP file of JPGs", { controller: "catalog", action: "zip_images" }, { method: :post, params: { :image_list => array_to_delimited_str(multi_image_sorted_derivative_paths(@document, @document_list, {:size => 'full'} )), itemid: @document.local_id }, class: 'btn btn-link'} %>				
			</li>
			
			<!-- TO-DO: add options for resolution beyond full. Style the button/link to resemble the other links in the menu -->

		  <li class="dropdown-header">Currently Displayed Image</li>
		
		<% end %>
		
	      <li><%= link_to ("Small JPG " + content_tag(:span, "400px", :class => "text-muted img-size")).html_safe, iiif_image_path(image_path, {:size => '!400,400'}), class: "download-link-single", id: "download-small", download: "" %></li>
	      <li><%= link_to ("Medium JPG " + content_tag(:span, "800px", :class => "text-muted img-size")).html_safe, iiif_image_path(image_path, {:size => '!800,800'}), class: "download-link-single", id: "download-med", download: "" %></li>	
	      <li><%= link_to ("Large JPG " + content_tag(:span, "1,200px", :class => "text-muted img-size")).html_safe, iiif_image_path(image_path, {:size => '!1200,1200'}), class: "download-link-single", id: "download-lrg", download: "" %></li>	
	      <li><%= link_to ("Full-Res JPG " + content_tag(:span, "Original Resolution", :class => "text-muted img-size")).html_safe, iiif_image_path(image_path, {}), class: "download-link-single", id: "download-full", download: "" %></li>

		<% if is_multi_image?(@document, @document_list) %>	
		  <li class="divider" role="separator"></li>
		<li role="presentation" class="disabled"><a href="#">Please be patient with high-res and bulk downloads.</a></li>
		<% end %>
		
	    </ul>
	  </li>
	</ul>
</div>
<% end %>