<% cache("blog_posts_#{params[:collection]}", expires_in: 1.day) do %>
  <% @blog_posts = get_blog_posts(@blog_post_url) %>

  <% if @blog_posts && @blog_posts['posts'] %>

    <hr/>
    
    <div id="blog-posts">
      <h3 class="feature-head"><a href="http://blogs.library.duke.edu/bitstreams/">From Our Blog</a></h3>


      <% if @blog_posts['posts'].length > 2 %>

        <%= render partial: 'show_blog_post_feature', locals: { post: @blog_posts['posts'].first } %>

        <div class="row blog-secondary">
          <% @blog_posts['posts'].drop(1)[0..1].each do |post| %>
            <%= render partial: 'show_blog_post_secondary', locals: { post: post } %>
          <% end %>
        </div>
      
        <% if @blog_posts['posts'].length > 3 %>
          <% if @blog_posts['tag'] %>
            <div><%= link_to 'More Posts About This Collection', 'http://blogs.library.duke.edu/bitstreams/tag/'+@blog_posts['tag']['slug']+'/', { class: 'small text-muted'} %></div>
          <% else %>
            <div><%= link_to 'More Posts', 'http://blogs.library.duke.edu/bitstreams/', { class: 'small text-muted'} %></div>
          <% end %>
        <% end %>
      
      <% else %>
        <% @blog_posts['posts'].each do |post| %>
          <%= render partial: 'show_blog_post_feature', locals: { post: post } %>
        <% end %>
      <% end %>

    </div>
    
  <% end %>
<% end %>