<% cache("catalog_show_collection_item_context_#{@document.id}", expires_in: 7.days) do %>
  <div id="collection-context" class="text-center buffer-bottom-40">
    <% if @document[Ddr::Index::Fields::ADMIN_SET_TITLE].present? %>
      <div class="text-muted text-uppercase small">Collection Group</div>
      <strong><%= link_to_admin_set(@document) %></strong>
      <div class="vertical-model-separator">
        <span class="fa <%= collection ? 'fa-map-marker' : 'fa-circle' %>"></span>
      </div>
    <% end -%>

    <% if collection %>
      <div class="text-muted text-uppercase small">This Collection</div>
    <% else %>
      <div class="text-muted text-uppercase small">Collection</div>
      <% if @document.collection.present? %>
        <p class="strong"><%= link_to_document @document.collection, @document.collection.title, :id => "parent-collection" %></p>
        <p class="small"><%= truncate(@document.collection.abstract, :length => 180, :separator => ' ') %></p>
      <% else %>
        <p class="strong">Collection Missing</p>
      <% end %>
      <div class="vertical-model-separator">
        <span class="fa <%= item ? 'fa-map-marker' : 'fa-circle' %>"></span>
      </div>
    <% end -%>

    <% if item %>
      <div class="text-muted text-uppercase small">This Item</div>
    <% elsif component %>
      <div class="text-muted text-uppercase small">Item</div>
      <% if @document.item.present? %>
        <p class="strong"><%= link_to_document @document.item, @document.item.title, :id => "parent-item" %></p>
      <% else %>
        <p class="strong">Item Missing</p>
      <% end %>
      <div class="vertical-model-separator">
        <span class="fa fa-map-marker"></span>
      </div>
      <div class="text-muted text-uppercase small">This File</div>
    <% end -%>
  </div>
<% end %>
